<a href="https://colab.research.google.com/github/pbeens/OTF-Data-Analysis-2021-05/blob/main/Computational_Thinking_Data_Analysis_Template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Enter Title Here

---

# What is the Objective?

- What do you want to analyze?
- Where is the data coming from?

# Get the Data

- You need to import the Pandas library.
- You need to define the source file or URL.
- You need to create the dataframe.
- The data can be from within the notebook or from a remote site.
- You may want to include some additional notes here about the data.

In [1]:
import pandas as pd

## From a Website

In [ ]:
url = 'insert url here'

# use one of the following:

# for a CSV file (very popular)
df = pd.read_csv(url)

# for an Excel file
df = pd.read_excel(url)

# for a table from a webpage
df_list_of_tables = pd.read_html(url) 
df = df_list_of_tables[2] # enter the index number of the table

# make sure it's the correct data
df

## From Within the Notebook

In [2]:
x_data = [1, 2, 3, 4, 5]
y_data = [1, 4, 9, 16, 25]

data_dict = {'x': x_data,
             'y': y_data}

df = pd.DataFrame(data_dict)

df

   x   y
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25

# Quick Look at the Data

Common techniques are to look at the head, the columns, and the data types.

In [11]:
# The first few records

df.head()

   x   y
0  1   1
1  2   4
2  3   9
3  4  16
4  5  25

In [10]:
# What are the names of the columns

df.columns

Index(['x', 'y'], dtype='object')

In [9]:
# What are the datatypes?

df.dtypes

x    int64
y    int64
dtype: object

In [8]:
# Looking at one column only
df['name_of_column'] # insert the name of the column!

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64

# Clean/Fix the Data

This will depend on the data we're looking at. Some issues may be:

- extraneous text in the data
- incorrect data type
- invalid (or no) data

In [ ]:
# code goes here

# Filter the Data

You might want a subset of the data. This video is a great intro for how to do this: [https://www.youtube.com/watch?v=Lw2rlcxScZY](https://www.youtube.com/watch?v=Lw2rlcxScZY)

If you don't need to filter the data then delete these rows.

In [18]:
# create the filter. This is an example filter only! 
filt = (df['x'] > 2) 

# apply the filter
df = df.loc[filt] 

# check that it worked
df

   x   y
2  3   9
3  4  16
4  5  25

# Plot the Data

Types of plots:

- ‘bar’ or ‘barh’ for bar plots
- ‘hist’ for histogram
- ‘box’ for boxplot
- ‘kde’ or ‘density’ for density plots
- ‘area’ for area plots
- ‘scatter’ for scatter plots
- ‘hexbin’ for hexagonal bin plots
- ‘pie’ for pie plots

The following code is a good starting point to modify:

In [17]:
df.plot(kind='line',
          x='column-name', 
          y='column-name', # if plotting more than one column, use a list
          rot=90, # to rotate labels
          figsize=(10,5), # in inches
          style='-.', # styles are '-', '--', '-.', ':'
          grid=True, # grid on
          legend=False, # legend off 
          xlim=(2000,2020), # set the x-axis start and end values
          ylim=(30e3,50e3), # set the y-axis start and end values
          xlabel='X Label', 
          ylabel='Y Label',
          title='Title')

KeyError: ignored