<a href="https://colab.research.google.com/github/pbeens/OTF-Data-Analysis-2021-05/blob/main/Demo_Adding_a_New_Column_using_Math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Demo - Adding a New Column using Math
---

# What is the Objective?

- To add a Volume column to a dataframe that has width, height, and depth data in it.

# Create the Data

- You need to import the Pandas library.
- You need to define the source file or URL.
- You need to create the dataframe.

In [1]:
import pandas as pd
import random

In [2]:
# This function is used to create 5 random integers within the range of 1-10
# You must run this before using it below.

def create_five_random_ints():
  nums = [random.randint(1, 10) for x in range(5)] # using list comprehension here
  return nums

In [3]:
# create the box data
width = create_five_random_ints()
height = create_five_random_ints()
depth = create_five_random_ints()

box_dict = {'Width': width,
            'Height': height,
            'Depth': depth}

# create the dataframe
df = pd.DataFrame(box_dict)

# let's have a look at the dataframe
df

   Width  Height  Depth
0      5      10      1
1      6       2      5
2      6      10      6
3      6       1      8
4      4       9      6

# Quick Look at the Data

In [4]:
# The names of the columns

df.columns

Index(['Width', 'Height', 'Depth'], dtype='object')

In [5]:
# The datatypes

df.dtypes

Width     int64
Height    int64
Depth     int64
dtype: object

In [6]:
# A statistical summary

df.describe()

          Width     Height     Depth
count  5.000000   5.000000  5.000000
mean   5.400000   6.400000  5.200000
std    0.894427   4.505552  2.588436
min    4.000000   1.000000  1.000000
25%    5.000000   2.000000  5.000000
50%    6.000000   9.000000  6.000000
75%    6.000000  10.000000  6.000000
max    6.000000  10.000000  8.000000

# Clean/Fix/Filter the Data

This will depend on the data we're looking at. Some issues may be:

- extraneous text in the data
- incorrect data type
- invalid (or no) data
- we need to add columns

In [7]:
df['Volume'] = df['Depth'] * df['Height'] * df['Width']
df

   Width  Height  Depth  Volume
0      5      10      1      50
1      6       2      5      60
2      6      10      6     360
3      6       1      8      48
4      4       9      6     216